<div ng-show="beat.reporters.length">
  <h3>Reporter List for {{ beat.name }} </h3>
  <ul>
    <li ng-repeat="item in beat.reporters">
      {{ item.name }}
      <ul>
        <li> {{ item.yearsOfEmployment }} </li>
        <li> {{ item.birthdate }} </li>
      </ul>
    </li>
  </ul>
</div>

<div ng-show="beats.editing">
  <h4>Add a reporter to {{ beat.name }} </h4>
  <form ng-submit="addReporter()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="reporterName" class="form-control" placeholder="NAME">
    </div>
    <div class="form-group">
      <input type="text" ng-model="reporterYOE" class="form-control" placeholder="YEARS OF EMPLOYMENT">
    </div>
    <div class="form-group">
      <input type="text" ng-model="reporterBirthdate" class="form-control" placeholder="BIRTHDATE">
    </div>
    <button type="submit" class="btn btn-default btn-sm">Add Reporter</button>
  </form>
  <a class="btn btn-danger" ng-click="beats.editing=false">Add Another Beat</a>
</div>
