
<div ng-show="beats.editing">
<div ng-show="beat.reporters.length">
  <h3>Reporter List for {{ beat.name }} </h3>
  <ul>
    <li ng-repeat="item in beat.reporters">
      <a ng-click="details=!details">Name: {{ item.name }}</a>
      <span ng-hide="details">
      <ul>
        <li> Birthdate: {{ item.yearsOfEmployment }} </li>
        <li> Years of Employment: {{ item.birthdate }} </li>
      </ul>
      </span>
      <span ng-show="details"></span>
    </li>
  </ul>
</div>

  <h2>Add a reporter to {{ beat.name }} </h2>
  <form ng-submit="addReporter()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="reporterName" class="form-control" placeholder="NAME HERE">
    </div>
    <hr>
    <div class="form-group">
      Years of Employment:<br>
      <input type="text" ng-model="reporterYOE" class="form-control" placeholder="YYYY-YYYY">
    </div>
    <hr>
    <div class="form-group">
      Birthdate:<br>
      <input type="text" ng-model="reporterBirthdate" class="form-control" placeholder="MM-DD-YYYY">
    </div>
    <hr>
    <div class="row">
    <button type="submit" class="btn btn-primary">Add Reporter</button>
  </form>
  <a class="btn btn-danger" ng-click="beats.editing=false">Add Another Beat</a>
    </div>

</div>
